.dash-area {
  height: auto;
}

.dash-button {
  display: block;
  margin-left: auto;
  background-color: #5f99be;
  color: aliceblue;
  border: none;
}
.dash-button:hover {
  background-color: red;
}

@media (max-width: 991px) {
  .delete-button {
    margin-top: 5px;
  }
}
@media (max-width: 768px) {
  .update-button {
    margin-top: 5px;
  }
  .view-button {
    margin-bottom: 8px;
  }
}
