* {
  margin: 0;
  padding: 0;
}
#light {
  --main-heading: #5f99be;
  --para-clr: #333;
  --btn-bg-color: #5f99be;
  --btn-text-color: #ffffff;
  --bg-clr: #ffffff;
  --label-text-color: #5f99be;
  --input-bg-color: #ffffff;
}
#dark {
  --main-heading: #5f99be;
  --para-clr: #ffffff;
  --btn-bg-color: #5f99be;
  --btn-text-color: #ffffff;
  --bg-clr: #111b20;
  --label-text-color: #5f99be;
  --input-bg-color: #5f99be;
  --switch-bg-color: #111b20;
  --textarea-bg-color: #111b20;
}

.dark-theme {
  --main-heading: #5f99be;
  --para-clr: #ffffff;
  --btn-bg-color: #5f99be;
  --btn-text-color: #ffffff;
  --bg-clr: #111b20;
  --label-text-color: #5f99be;
  --input-bg-color: #5f99be;
}
.light-theme {
  --main-heading: #5f99be;
  --para-clr: #333;
  --btn-bg-color: #5f99be;
  --btn-text-color: #ffffff;
  --bg-clr: #ffffff;
  --label-text-color: #5f99be;
  --input-bg-color: #ffffff;
}

h1,
h2,
h3 {
  font-size: 30px;
  color: var(--main-heading) !important;
}
p {
  font-size: 15px;
  color: var(--para-clr);
}
section {
  background-color: var(--bg-clr);
}
a {
  color: var(--btn-bg-color) !important;
  font-size: 18px;
}
a:hover {
  color: red !important;
}
label {
  color: var(--label-text-color) !important;
}
input {
  background-color: var(--input-bg-color) !important;
}
.btn {
  padding: 10px 20px;
  background-color: var(--btn-bg-color) !important;
  width: 100%;
}
.btn:hover {
  background-color: red !important;
}
.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  background-color: var(--switch-bg-color);
}
textarea {
  background-color: var(--textarea-bg-color);
}
